html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    max-width: 50%;
    margin: auto;
}

#propicture {
    width: 700px;
}